body {
  background: #ececec;
  color: #584f58;
  font-size: 1.25em;
  font-family: system, sans-serif;
}

h1,
h2 {
  font-family: system, 'Permanent Marker', cursive;
  color: #e82886;
}

article {
  max-width: 40em;
  margin: 0 auto;
}
h1,
h2,
h3 {
  font-family: system, 'Permanent Marker', cursive;
  color: #e82886;
  transform: rotate(-5deg) translateY(0em) translateX(-2px);
}
@media screen and (min-width: 30em) {
  h1,
  h2 {
    transform: rotate(-5deg) translateY(0em) translateX(-20px);
  }
}

p,
nav,
li {
  font-family: system, 'Roboto Slab', serif;
  line-height: 1.25;
  list-style: none;
}
section:hover {
  background: #000;
  color: ivory;
  padding: 0em 1em 1em;
  border-radius: 2em;
  width: 60em;
}
section:hover h2 {
  font-size: 300%;
  transform: rotate(-5deg) translateY(0em) translateX(0.5em);
}
section:hover h3 {
  font-size: 200%;
  transform: rotate(-5deg) translateY(0em) translateX(0.5em);
}
section:hover p,
section:hover li {
  font-size: 2em;
}
a {
  color: inherit;
}
