body{
    background:#121012;
    color:#AB98AB;
    font-size:18px;

}

h1, h2{
    /*font-family: system, 'Permanent Marker', cursive;*/
    color:#E82886;
}
/*
article{
    max-width:30em;
    margin:0 auto;
}
h1, h2{
    font-family: system, 'Permanent Marker', cursive;
    color:#E82886;
    transform: rotate(-5deg) translateY(10px) translateX(-2px);
    
}
@media screen and (min-width: 30em) {
    h1, h2{
        transform: rotate(-5deg) translateY(10px) translateX(-20px);
    }
}

p,nav, li{
    font-family: system, 'Crimson Text', serif;
    line-height: 1.05;
    font-variant: all-small-caps;
    list-style: none;
    } 

a{
    color:inherit;
}   
*/
