<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if isStaging %}STG :: {% endif %}{{ title or "Il mio sito" }}</title>
    <meta name="description" content="{{ description or 'CV · Portfolio · Blog' }}">
    <link rel="stylesheet" href="{{ '/assets/style.css' | url }}" />
    <link rel="icon" href="{{ '/assets/favicon.ico' | url }}" />
    <meta property="og:title" content="{% if isStaging %}STG :: {% endif %}{{ title or 'Il mio sito' }}">
    <meta property="og:description" content="{{ description or 'CV · Portfolio · Blog' }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url }}">
    {% if isStaging %}
    <style>
      body::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 4px;
        background: #8b00ff;
        z-index: 9999;
      }
    </style>
    {% endif %}
  </head>
  <body{% if isStaging %} class="staging"{% endif %}>
    {% include "header.njk" %}
    <main>
      {{ content | safe }}
    </main>
   {% include "footer.njk" %}
  </body>
</html>
