<!-- _includes/card.njk -->
<article>
  <a href="{{ item.url }}">
    <figure>
      <img src="{{ item.data.thumbnail }}" alt="{{ item.data.title }}">
    </figure>
    <p><strong>{{ item.data.title }}</strong>{% if item.data.excerpt %} {{ item.data.excerpt | safe }}{% endif %}</p>
  </a>
</article>
