<div> 
  <p>
    If you feel the need to navigate across pages with a good old sitemap, here are some useful links:
  </p>
  <ul>
    <li><a href="/">Welcome</a></li>
    <li><a href="/cv/">About me</a></li>
    <li><a href="/approach/">Design Approach</a></li>
    <!-- <li><a href="/blog/">My Ideas</a></li> -->
  </ul>
</div> 

<footer>
   <small>© {{ now | date("yyyy") }}</small>
</footer>