<header>
  <a href="/"><h2>MANUEL COLOMBO</h2></a>
  <ul>
      <a href="/">Welcome</a>
      <a href="/cv/">About me</a>
      <a href="/approach/">Approach</a>
      <a href="/blog/">My Ideas</a>
  </nav>
</header>