/* assets/style.css */
:root { 
  --ink:hsl(0 17% 28% / 1); 
  --behind:#e6e6e6; 
  --bg:#f9f9f9; 
  --link:#0b72d2; 
  --col: 960px;
  --sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  --mono: 'Courier New', Courier, monospace;
  --serif: Georgia, 'Times New Roman', Times, serif;
  --font-size: clamp(1rem, 2vw, 1.5rem);
}

*{ box-sizing: border-box;
 overflow-wrap: break-word; }

body {
/*Box model stuff*/
  margin: 0.5rem; color: var(--ink); background: var(--behind);
  margin: 0.5rem; color: var(--ink); background: var(--behind);
/*Typography stuff*/
  font-family: var(--serif);
  font-weight: 300;
  font-size: var(--font-size);
  margin: 0.5rem; color: var(--ink); background: var(--behind);
  color: var(--ink);
/*Miscellaneous*/
  line-height: 1.6;
}

header {
  margin: 0 auto;
  text-align: center;
  h2 { border: none;}
  
  a{
  /*Box model stuff*/
    background-clip: text;
    background-image: linear-gradient(hsl(300, 100%, 25%), hsl(300, 100%, 10%));
  /*Typography stuff*/
    font-size: clamp(2rem, 8vw, 4rem);
    font-weight: 900;
    text-decoration: underline;
    color: transparent;
  }

  ul{
    max-width: 728px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 16px auto;
    padding: 0;
    gap:2rem;
    height: auto; /* Default: si adatta ai child */
    min-height: 100%;

    a{
      flex:1;
      font-size: 16px;
      color:#fff;
      background: linear-gradient(hsl(300, 100%, 25%), hsl(300, 100%, 10%));
      border-radius: 36px;
      justify-content: center;
      align-items: center; 
      padding: 0.25em 2em;
      margin: 0;
      height: auto;
      text-decoration: none;
      font-family: var(--sans);
      
      &:hover{
        color:#fffa;
        background: linear-gradient(hsl(300, 100%, 10%),hsl(300, 100%, 25%));
        text-shadow: #000d;
      }
    }
  }
}

main {
  max-width: var(--col);
  margin: 1rem auto; 
  background: var(--bg); 
  padding: 1rem;
  border-radius: 10px; 
  /* box-shadow: 0 2px 12px #0001; */
}
img { max-width: 100%; height: auto; display: block; }
pre, code { background: var(--bg); padding: .2em .4em; border-radius: 4px; }
footer { max-width: var(--col); color: #777; margin: 3rem auto 0; }
blockquote{
  font-size: calc(1.25 * var(--font-size));
  border-left: 1px dashed var(--ink);
  padding-left: 1rem;
  margin-left: 0.25rem;
  font-style: italic;
}

/* cards */

.collection{
  display: flex;
  justify-content:stretch;
  flex-wrap: wrap;
  margin: 16px auto;
  padding: 0;
  gap:2rem;
  height: auto; /* Default: si adatta ai child */
  min-height: 100%;

  a{
    text-decoration: none;
    color:black;
  }
}

article.card{
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px #0001;
  padding: 1rem;
  border-radius: 36px;
  display: block;
  flex:1;
}
article.card:hover{
  box-shadow: 0 4px 16px #0004;
}

article.card img, article.card p{
  max-width: 300px;
}
/* Typogarphy */

h1,h2,h3,h4,h5,h6 { 
  line-height: 1.2; 
  font-family: var(--sans);
}

h1,h2,h3,h4,h5,h6, strong, a:hover{ 
  background-image: linear-gradient(hsl(300, 100%, 25%), hsl(300, 100%, 10%));
  color: transparent;
  background-clip: text;
}


h1{ 
  font-size: 3rem; 
  margin-bottom: 0; 
}

h2{ 
  font-size: 2rem; 
  margin-bottom: 0; 
  border-bottom: #000001 dashed 1px;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  h1{ 
    font-size: 5rem; 
  }
  
}

@media (min-width: 1024px) {
  h1{ 
    font-size: 6rem; 
  }
  
}
