.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.image {
}
.placeholder {
}
.link_button {
  font-family:'Montserrat-Light', 'Montserrat Light', 'Montserrat';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
.heading_1 {
  font-family:'Montserrat';
  font-weight:900;
  font-style:;
  font-size:24px;
  letter-spacing:7px;
  text-align:left;
  text-transform:uppercase;
}
.heading_2 {
  font-family:'Libre Baskerville';
  font-weight:;
  font-style:;
  font-size:48px;
  text-align:left;
}
.heading_3 {
  font-family:'Libre Baskerville';
  font-weight:;
  font-style:italic;
  font-size:24px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  font-family:'Montserrat';
  font-weight:400;
  font-style:;
  font-size:18px;
  text-align:left;
}
.line {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.icon {
}
.heading_2_-_eng {
  font-family:'Montserrat';
  font-weight:900;
  font-style:;
  font-size:48px;
  text-align:left;
}
.heading_3_-_eng {
  font-family:'Montserrat-Light', 'Montserrat Light', 'Montserrat';
  font-weight:200;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.paragraph_-_eng {
  font-family:'Libre Baskerville';
  font-weight:;
  font-style:;
  font-size:18px;
  text-align:left;
}
.link_button_hover {
  font-family:'Montserrat-Light', 'Montserrat Light', 'Montserrat';
  font-weight:200;
  font-style:normal;
  color:#000000;
}
textarea, select, input, button { outline: none; }
